* {
    overflow: hidden;
}
.main-game-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.start-btn {
    height: 2rem;
}

img {
    height: 5rem;
    visibility: hidden;
    position: absolute;
}

.exit-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
}
:hover.exit-container {
    cursor: pointer;
}

.home-container a {
    color: black;
}

.home-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
}
:hover.exit-container {
    cursor: pointer;
}