* {
    overflow: hidden;
}
.score-container{
display: flex;
justify-content: center;
font-size: 18px;
}
.child-container{
    text-align: center;
    width:120px;
    font-family: Arial, Helvetica, sans-serif;
    border:2px solid blue;

}
.child-container:hover{
    background-color: bisque;
    cursor: pointer;
}

.main-game-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.start-btn {
    height: 2rem;
}

img {
    height: 5rem;
    visibility: hidden;
    position: absolute;
}

.exit-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
}
:hover.exit-container {
    cursor: pointer;
}

.home-container a {
    color: black;
}

.home-container {
    position: absolute;
    top:0.5rem;
    left: 2rem;
}
.home-container:hover{
    background-color: antiquewhite;
    border-radius: 2px solid black;
    cursor: pointer;
}
:hover.exit-container {
    cursor: pointer;
}

.mine {
  width: 60px;
  height: 60px;
  background-image: url('../images/mine.png');
  background-size: cover;
  position: absolute;
}
